<div>
  <p>
    <strong>Descrição:</strong>
    <%= @evento.descricao %>
  </p>
  <p>
    <strong>Data:</strong>
    <%= @evento.data %>
  </p>
  <p>
    <strong>Evento do projeto:</strong>
    <%= @evento.projeto.nome %>
  </p>
  <p>
    <strong>Link:</strong>
    <%= @evento.link %>
  </p>
</div>
