<div>
  <p>
    <strong>Usuario:</strong>
    <%= @usuarioprojeto.usuario.nome %>
  </p>
  <p>
    <strong>Tipo de usuário:</strong>
    <%= @usuarioprojeto.tipoUsuario %>
  </p>
  <p>
    <strong>Projeto:</strong>
    <%= @usuarioprojeto.projeto.nome %>
  </p>
  <p>
    <strong>Carga horária:</strong>
    <%= @usuarioprojeto.cargaHoraria %>
  </p>
</div>
