<style>
#content-core {
    max-width: 960px;
    font-size: : 1.3em;
    margin: auto;
}

</style>

<h1 align="center">
	Extensão
</h1>


<p></p>
<div class="c2">
	<div id="content-core">
		<p align="justify">
			A Extensão Universitária é o processo interdisciplinar, educativo, cultural, científico e político que articula o Ensino e a Pesquisa de forma indissociável e viabiliza a relação transformadora entre universidade e sociedade.
		</p>
		
		<p align="justify">
			É um canal de interlocução entre a Sociedade e a Universidade, trazendo as demandas da população e os desafios colocados para o desenvolvimento do país para o centro da Pesquisa e desta para a sociedade, numa troca mútua de saberes.
		</p>
		<p></p>
		<p align="justify">
			A Extensão é uma via de mão dupla, com trânsito assegurado à comunidade acadêmica, que encontrará, na sociedade, a oportunidade de elaboração das práxis de um conhecimento acadêmico. No retorno à Universidade, docentes e discentes trarão um aprendizado que, submetido à reflexão teórica, será acrescido àquele conhecimento.
		</p>
		<p></p>
		<p align="justify">
			Esse fluxo, que estabelece a troca de saberes sistematizados, acadêmico e popular, terá como consequência: a produção do conhecimento resultante do confronto com a realidade brasileira e regional; a democratização do conhecimento acadêmico e a participação efetiva da comunidade na atuação da Universidade.
		</p>
		<p></p>
		<p align="justify">
			Além de instrumentalizadora desse processo dialético de teoria/prática, a Extensão é um trabalho interdisciplinar que favorece a visão integrada do social.
		</p>
		<p></p>
		<p align="right">
			FÓRUM DE PRÓ-REITORES DE EXTENSÃO DAS UNIVERSIDADES PÚBLICAS BRASILEIRAS. 
		</p>
		<p align="right">
		Plano Nacional de Extensão Universitária. Ilhéus: Editus, 2001. (Coleção Extensão Universitária; v.1).
		</p>
	</div>
</div>